.primary-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 101px;
  border: 1.5px solid var(--primary-500-alt);
  background: var(
    --Blue-Gradient,
    linear-gradient(165deg, #0076fc 53.16%, #102595 168.45%)
  );
  box-shadow: 0px 15px 19.3px 0px rgba(0, 95, 204, 0.13);

  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.primary-button:hover {
  background: none;
  border: 1.5px solid var(--Blue-Gradient, #0076fc);
}

.primary-button__link {
  color: var(--primary-50);
  text-decoration: none;
  font-size: var(--paragraph-2);
  font-style: normal;
  font-weight: 700;
}

.primary-arr-btn {
  width: 16px;
  height: 16px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .primary-button__link {
    font-size: var(--paragraph-3);
  }
}

@media screen and (max-width: 976px) {
  .primary-button {
    display: none;
  }
}
