.footer__trade-title {
  font-size: var(--heading-3);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;

  margin-bottom: 20px;
}

.footer__trade-lists {
  font-size: var(--paragraph-2);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
