.header {
  margin-bottom: 100px;

  position: relative;
}

.header__container {
  /* background-color: orange; */

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 277px;
}

.header__typographies {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-top: 180px;
}

.header__heading {
  font-size: var(--display-1);
  font-weight: 700;
  line-height: 108%; /* 65.88px */
  letter-spacing: -1.22px;
}

.header__paragraph {
  font-size: var(--paragraph-1);
  width: 92%;
  /* text-align: justify; */

  font-weight: 500;
  line-height: 160%;
}

.header__image {
  width: 544px;
  height: 608px;
}

.header__image > img {
  background-size: cover;
  mix-blend-mode: plus-lighter;
  /* width: 100%;
  height: 100%; */
}

.header__trader-support-funds {
  width: 70%;
  /* height: 100px; */
  /* background-color: orange; */
  margin: 0 auto;

  border-top: 1px solid var(--border-line-color);
  border-bottom: 1px solid var(--border-line-color);
  padding: 50px 70px;

  display: flex;
}

.tsf-heading__primary {
  font-size: var(--heading-3);
  font-weight: 700;
  line-height: 108%; /* 22.869px */
  letter-spacing: -0.423px;
}

.tsf-heading__secondary {
  /* padding-right: 20px; */
  /* width: 332px; */
}

.tsf-heading__secondary--heading {
  font-size: var(--paragraph-1);
  font-weight: 400;
  line-height: 140%; /* 23.716px */
  letter-spacing: -0.339px;
  margin-bottom: 6.78px;
}

.tsf-heading__secondary--paragraph {
  font-size: var(--paragraph-2);
  font-weight: 400;
  line-height: 158%; /* 21.412px */
}

.tsf-trust__pilot-rating {
  border-left: 1px solid var(--border-line-color);
  padding-left: 22px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trust-pilot__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rate__title {
  font-size: var(--paragraph-1);
  font-weight: 700;
  line-height: 140%; /* 23.716px */
  letter-spacing: -0.339px;
}

.trust-pilot__score {
  font-size: var(--paragraph-3);
}

/* Elipse Shape Style */
.elipse-shape-container {
  position: absolute;
  top: 505px;
}

.elipse-9 {
  position: relative;
  top: 400px;
  z-index: -10;
}
