.header {
  margin-bottom: 100px;

  position: relative;
}

.header__container {
  /* background-color: orange; */

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 277px;
}

.header__typographies {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-top: 145px;
}

.header__heading {
  font-size: var(--display-1);
  font-weight: 700;
  line-height: 108%; /* 65.88px */
  letter-spacing: -1.22px;
}

.header__paragraph {
  font-size: var(--paragraph-1);
  width: 92%;
  /* text-align: justify; */

  font-weight: 500;
  line-height: 160%;
}

.header__image {
  width: 544px;
  height: 608px;
}

/* .header__image > img {
  background-size: cover;
  mix-blend-mode: plus-lighter;
} */

.header__trader-support-funds {
  width: 70%;
  /* height: 100px; */
  /* background-color: orange; */
  margin: 0 auto;

  border-top: 1px solid var(--border-line-color);
  border-bottom: 1px solid var(--border-line-color);
  padding: 50px 70px;

  display: flex;
}

.tsf-heading__primary {
  font-size: var(--heading-3);
  font-weight: 700;
  line-height: 108%; /* 22.869px */
  letter-spacing: -0.423px;
  margin-right: 50px;
}

.tsf-heading__secondary {
  /* padding-right: 20px; */
  /* width: 332px; */
}

.tsf-heading__secondary--heading {
  font-size: var(--paragraph-1);
  font-weight: 400;
  line-height: 140%; /* 23.716px */
  letter-spacing: -0.339px;
  margin-bottom: 6.78px;
}

.tsf-heading__secondary--paragraph {
  font-size: var(--paragraph-2);
  font-weight: 400;
  line-height: 158%; /* 21.412px */
}

.tsf-trust__pilot-rating {
  border-left: 1px solid var(--border-line-color);
  padding-left: 22px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trust-pilot__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rate__title {
  font-size: var(--paragraph-1);
  font-weight: 700;
  line-height: 140%; /* 23.716px */
  letter-spacing: -0.339px;
}

.trust-pilot__score {
  font-size: var(--paragraph-3);
}

/* Elipse Shape Style */

.light-glow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(0%, 75%);
  z-index: 10;
}

.light-glow-mobile {
  display: none;
}

/* =================== */
/* Media Queries */
/* =================== */

@media screen and (max-width: 1283px) {
  .header__heading {
    font-size: var(--display-1);
  }
}

@media screen and (max-width: 1231px) {
  .header__image {
    width: 500px;
    height: 550px;
  }
}

@media screen and (max-width: 1231px) {
  .header__trader-support-funds {
    width: 75%;
  }

  .tsf-heading__secondary {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1183px) {
  .header__heading {
    font-size: var(--display-2);
  }
  .header__typographies {
    padding-top: 110px;
  }

  .header__image {
    width: 450px;
    height: 500px;
  }
}

@media screen and (max-width: 1155px) {
  .header__trader-support-funds {
    width: 85%;
  }
  .tsf-heading__secondary--paragraph {
    font-size: var(--paragraph-2);
  }
}

@media screen and (max-width: 1104px) {
  .header__image {
    width: 400px;
    height: 450px;
  }

  .header__trader-support-funds {
    width: 90%;
  }

  .light-glow {
  }
}

@media screen and (max-width: 1056px) {
  .header__paragraph {
    font-size: var(--paragraph-1);
  }
}

@media screen and (max-width: 992px) {
  .header__heading {
    font-size: var(--display-3);
  }

  .header__image {
    width: 350px;
    height: 400px;
  }

  .header__typographies {
    padding-top: 80px;
    align-items: center;
  }

  /* .light-glow {
  } */
}

@media screen and (max-width: 946px) {
  .header__image {
    width: 300px;
    height: 335px;
  }
}

@media screen and (max-width: 895px) {
  .header__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .header__typographies {
    padding-top: 30px;
  }

  .header__heading,
  .header__paragraph {
    text-align: center;
  }

  .header__heading {
    font-size: var(--display-2);
  }

  .header__paragraph {
    font-size: var(--paragraph-1);
  }

  .header__image {
    width: 550px;
    height: 500px;
  }

  .light-glow {
    transform: translate(0%, 188%);
  }
}

@media screen and (max-width: 869px) {
  .header__heading {
    font-size: var(--display-2);
  }

  .header__typographies {
    padding-top: 20px;
    align-items: center;
  }

  .header__image {
    width: 400px;
    height: 425px;
  }

  .tsf-heading__secondary--heading {
    font-size: var(--paragraph-2);
  }

  .tsf-heading__secondary--paragraph {
    font-size: var(--paragraph-3);
  }

  .tsf-heading__primary {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header__trader-support-funds {
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;

    width: 100%;

    padding: 25px 35px;

    justify-tracks: center;
  }

  .tsf-heading__primary {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-right: 0;
  }

  .tsf-trust__pilot-rating {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .tsf-heading__secondary {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    margin-right: 0;
  }

  .tsf-heading__secondary--heading,
  .tsf-heading__secondary--paragraph {
    text-align: center;
  }

  .tsf-heading__secondary--heading {
    font-size: var(--paragraph-2);
  }

  .tsf-heading__secondary--paragraph {
    font-size: var(--paragraph-3);
  }

  .light-glow {
    transform: translate(0%, 215%);
    /* scale: 1.2; */
  }
}

@media screen and (max-width: 675px) {
  .header__image {
    width: 350px;
    height: 375px;
  }

  .header__heading {
    font-size: var(--display-2);
  }

  .light-glow {
    transform: translate(0%, 240%);
  }
}

@media screen and (max-width: 588px) {
  .header__image {
    width: 350px;
    height: 325px;
  }

  .header__heading {
    font-size: var(--display-3);
  }

  .header__paragraph {
    font-size: var(--paragraph-1);
  }

  .light-glow {
    display: none;
  }

  .light-glow-mobile {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 234%);
    z-index: -50;
    height: 250px;
  }
}

@media screen and (max-width: 495px) {
  .light-glow {
    /* transform: translate(0%, 330%); */
  }
}

@media screen and (max-width: 425px) {
  .header__image {
    width: 350px;
    height: 350px;
  }

  .header__heading {
    font-size: var(--heading-1);
    margin-bottom: 15px;
  }

  .header__paragraph {
    font-size: var(--paragraph-2);
  }
}

@media screen and (max-width: 418px) {
  .tsf-heading__primary {
    font-size: var(--paragraph-1);
  }

  .tsf-heading__secondary--heading {
    font-size: var(--paragraph-2);
  }

  .tsf-heading__secondary--paragraph {
    font-size: var(--paragraph-3);
  }
}

@media screen and (max-width: 399px) {
  .elipse-shape-container > img {
    top: 700px;
    left: 50px;
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .header__image {
    width: 100%;
    height: 100%;
  }

  .header__paragraph {
    font-size: var(--paragraph-3);
  }

  .tsf-heading__secondary--heading {
    font-size: var(--paragraph-2);
  }

  .tsf-heading__secondary--paragraph {
    font-size: var(--paragraph-3);
  }

  .elipse-shape-container > img {
    top: 610px;
    left: 50px;
    width: 80%;
  }
}
