.tsf-logo {
  width: 72px;
  height: 38px;
}

.nav-items {
  padding: 52px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-container {
  border-radius: 47px;
  display: flex;
  gap: 32px;

  font-size: var(--paragraph-2);

  padding: 10px 20px;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #050517, #0076fc, #102595, #050517)
    30;

  /* background: var(--box-border--border); */
}

.nav-menu {
  color: #f2f8ffa6;
  list-style: none;
  transition: all 0.2s ease;
}

.nav-menu:hover {
  font-weight: 600;
}

.nav-menu__link {
  color: inherit;
  text-decoration: none;
}

/* linear-gradient(
      #050517 100%,
      #0076fc 100%,
      #102595 100%,
      #050517 100%,
      #f2f8ff
    ); */

/* Media Queries */
@media screen and (max-width: 992px) {
  .nav-menu-container {
    font-size: var(--paragraph-3);
  }
}

@media screen and (max-width: 976px) {
  .nav-items {
    display: none;
  }
}

@media screen and (max-width: 895px) {
  .nav-items {
    padding: 50px 75px;
  }
}

@media screen and (max-width: 675px) {
  .nav-items {
    padding: 50px;
  }
}

@media screen and (max-width: 588px) {
  .nav-items {
    padding: 25px 50px;
  }
}
