.recovery-email-prompt {
  width: 45%;
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;

  border-radius: 16px;
  background: rgba(12, 12, 30, 0.44);
  backdrop-filter: blur(7.599999904632568px);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recovery-email-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.recovery-email-typography {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.recovery-email-heading {
  font-size: var(--heading-1);
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 33.48px */
}

.recovery-email-paragraph {
  font-size: var(--paragraph-1);
  width: 75%;
  font-style: normal;
  font-weight: 400;
  line-height: 168%; /* 26.88px */
}

/* .recovery-close-btn {
  background: transparent;
  border: none;
  text-decoration: underline;
  outline: none;
  color: inherit;
  padding: 8px 16px;

  cursor: pointer;
} */

/* 944 */
@media screen and (max-width: 944px) {
  .recovery-email-prompt {
    width: 55%;
  }
}

@media screen and (max-width: 814px) {
  .recovery-email-paragraph {
    width: 92%;
  }
}

@media screen and (max-width: 773px) {
  .recovery-email-prompt {
    width: 65%;
  }
}

@media screen and (max-width: 654px) {
  .recovery-email-heading {
    font-size: var(--heading-2);
  }

  .recovery-email-paragraph {
    font-size: var(--paragraph-2);
  }
}

@media screen and (max-width: 563px) {
  .recovery-email-prompt {
    width: 80%;
  }

  .recovery-email-paragraph {
    width: 91%;
  }
}

@media screen and (max-width: 485px) {
  .recovery-email-prompt {
    padding: 60px 30px;
  }
}
