.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 20px 28px;
  border-radius: 101px;
  border: 1.5px solid var(--Blue-Gradient, #0076fc);
  box-shadow: 0px 15px 19.3px 0px rgba(0, 95, 204, 0.13);

  opacity: 0.7;

  transition: all 0.2 ease-in-out;

  font-size: var(--paragraph-2);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondary-button:hover {
  opacity: 1;
  /* border-width: 2px; */
}

@media screen and (max-width: 573px) {
  .secondary-button {
    font-size: var(--paragraph-3);
    padding: 15px 15px;
  }
}
