.blog-trading__section {
  /* background-color: orange; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-trading__typography {
  text-align: center;

  margin-bottom: 90px;
}

.blog-trading__typography--heading {
  font-size: var(--heading-1);
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 33.48px */
  margin-bottom: 10px;
}

.blog-trading__typography--paragraph {
  font-size: var(--paragraph-1);
  font-style: normal;
  font-weight: 400;
  line-height: 168%; /* 26.88px */
}

.blog-trading__blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .blog-trading__typography--heading {
    font-size: var(--heading-2);
  }
}

@media screen and (max-width: 425px) {
  .blog-trading__typography--heading {
    font-size: var(--heading-3);
  }

  .blog-trading__typography--paragraph {
    font-size: var(--paragraph-2);
  }

  .blog-trading__typography {
    margin-bottom: 50px;
  }
}
