.model-pricing__section {
  padding-top: 50px;
  padding-bottom: 140px;

  /* background-color: orange; */
}

.model-pricing__typography {
  width: 70%;
  margin: 0 auto;
  /* background-color: orangered; */

  text-align: center;
}

.model-pricing__typography--heading {
  font-size: var(--display-3);
  font-style: normal;
  font-weight: 700;
  line-height: 108%;

  margin-bottom: 16px;
}

.model-pricing__typography--paragraph {
  font-size: var(--paragraph-1);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 40px;
}

.model-pricing__line {
  display: block;
  margin: 0 auto;

  margin-bottom: 36px;

  width: 90%;

  /* display: none; */
}

.model-pricing__menus {
  /* background-color: indigo; */
  /* height: 50px; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 28px;
}

.model-pricing__menu {
  padding: 20px 28px;
  /* border: 1px solid greenyellow; */

  border-radius: 101px;
  border: 1.5px solid #0076fc;

  box-shadow: 0px 15px 19.3px 0px rgba(0, 95, 204, 0.13);

  font-size: var(--paragraph-2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.model-pricing__menu--link {
  color: var(--primary-50);
  text-decoration: none;
}

.model-pricing__menu:hover {
  font-size: 900;
  border: 1.5px solid var(--primary-50);
  background-color: #0076fc;
}

/* MODEL PRICING */
.model-pricing__tiers {
  padding-top: 122px;
  padding-bottom: 100px;
}

.currency__card,
.currency-fund-account {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 47px;
}

.currency__card--title,
.currency-fund-account__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.currency__card--currencies,
.currency-fund-account__amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.currency {
  height: 100px;
  width: 100px;
  background-color: orange;
  /* margin: 10px; */
}

.model__plans {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.model__plan {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 189%;

  width: auto;
  height: auto;
  padding: 20px 20px;

  border-radius: 8px;
  background: #202932;
}

.model__plan-span {
  display: block;
}

@media screen and (max-width: 1095px) {
  .model-pricing__menu {
    padding: 15px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 787px) {
  .model-pricing__menu {
    padding: 15px 20px;
    font-size: var(--paragraph-3);
    /* text-align: center; */
  }
}

@media screen and (max-width: 768px) {
  .model-pricing__typography {
    width: 90%;
  }
  .model-pricing__typography--heading {
    font-size: var(--heading-1);
  }
  .model-pricing__menus {
    flex-direction: column;
    align-items: normal;
  }
}

@media screen and (max-width: 566px) {
  .model-pricing__typography--heading {
    font-size: var(--heading-2);
  }

  .model-pricing__typography--paragraph {
    font-size: var(--paragraph-2);
  }
}

@media screen and (max-width: 496px) {
  .model-pricing__line {
    width: 100%;
  }
  .model-pricing__section {
    padding-top: 0;
  }

  .model-pricing__tiers {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .model__plan {
    font-size: var(--paragraph-3);
  }
}

/* .model-pricing__section {
    margin-top: 0;
} */
/* .model-pricing__linear {
  height: 0;
  width: 719px;

  background: linear-gradient(
    92deg,
    #020212 14.97%,
    #1a49e9 35.65%,
    #ddb4c2 48.68%,
    #9b8aea 59.45%,
    #189dc8 71.34%,
    #020212 86.65%
  );
} */
