.traders-choose-us {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--traders-choose-us);
}

.traders__header {
  text-align: center;
  /* background-color: greenyellow; */

  /* display: flex;

  align-items: center;
  flex-direction: column; */
  margin-bottom: 92px;
}

.trader__heading {
  font-size: 39px;
  font-weight: 700;
  line-height: 108%; /* 42.12px */
  margin-bottom: 16px;
}

.traders__paragraph {
  width: 47%;
  font-size: var(--paragraph-1);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */

  margin: 0 auto;
}

.traders__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  /* background-color: blueviolet; */

  row-gap: 105px;
}

.trader__grid-item {
  padding: 0 52px;
}

.trader__grid-item > img {
  /* width: 113px;
  height: 99px; */
  margin-bottom: 40px;
  /* padding: 0; */
}

.trader-item__title {
  font-size: var(--heading-3);
  font-weight: 600;
  line-height: 108%; /* 21.6px */
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.trader-item__description {
  font-size: var(--paragraph-2);
  font-weight: 400;
  line-height: 160%; /* 20.8px */
  text-align: justify;
}

.grid-item--border {
  border-right: 1px solid #9b8aea;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .trader__heading {
    font-size: var(--heading-1);
  }
  .traders__paragraph {
    width: 70%;
    font-size: var(--paragraph-2);
  }
  .traders__grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }

  .grid-item--border {
    border-style: none;
  }

  .border-left {
    border-right: 1px solid #9b8aea;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .traders-choose-us {
    padding-top: 69px;
    padding-bottom: 69px;
  }
  .traders__grid {
    grid-template-columns: 1fr; /* 1 column for very small screens */
    row-gap: 65px;
  }

  .border-left {
    border-style: none;
  }

  .trader__grid-item:not(:last-child) {
    border-bottom: 1px solid #9b8aea;
  }

  .trader__grid-item {
    padding: 0;
    padding-bottom: 39px;
  }

  .traders__paragraph {
    width: 100%;
    font-size: var(--paragraph-1);
  }
}
