html,
body {
  max-width: 1440px;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* COLORS */
  --background-color: #050517;
  --primary-50: #f2f8ff;
  --primary-75: #e5f1ff;
  --primary-100: #cce4fe;
  --primary-200: #99c8fe;
  --primary-300: #66adfd;
  --primary-400: #3391fd;
  --primary-500: #0076fc;
  --primary-600: #005fcc;
  --primary-700: #004799;
  --primary-800: #002f66;
  --primary-900: #001833;

  /* TEXT FONT SIZES */
  --display-1: 61px;
  --display-2: 49px;
  --display-3: 39px;
  --heading-1: 31px;
  --heading-2: 25px;
  --heading-3: 20px;
  --paragraph-1: 16px;
  --paragraph-2: 13px;
  --paragraph-3: 10px;
}
