* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--primary-50);

  overflow-x: hidden;

  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* COLORS */
  --background-color: #050517;
  --primary-50: #f2f8ff;
  --primary-75: #e5f1ff;
  --primary-100: #cce4fe;
  --primary-200: #99c8fe;
  --primary-300: #66adfd;
  --primary-400: #3391fd;
  --primary-500: #0076fc;
  --primary-500-alt: #0076fe82;
  --primary-600: #005fcc;
  --primary-700: #004799;
  --primary-800: #002f66;
  --primary-900: rgb(0, 24, 51);

  --box-border--border: linear-gradient(#050517, #0076fc, #102595, #050517);
  --border-line-color: rgb(76, 76, 99);
  --traders-choose-us: #020212;
  --gradient-color: #282c60;

  /* TEXT FONT SIZES */
  --display-1: 61px;
  --display-2: 49px;
  --display-3: 39px;
  --heading-1: 31px;
  --heading-2: 25px;
  --heading-3: 20px;
  --paragraph-1: 16px;
  --paragraph-2: 13px;
  --paragraph-3: 10px;
}

a {
  color: var(--primary-50);
  text-decoration: none;
}

ul {
  list-style: none;
}

.section__padding {
  padding: 0 100px;
}

.react-link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 895px) {
  .section__padding {
    padding: 0 75px;
  }
}

@media screen and (max-width: 675px) {
  .section__padding {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .section__padding {
    padding: 0 30px;
  }
}

/* padding: 0 30px; */
